body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;    
    background-color: #ebebe2;
    padding: 10px;
    padding-bottom: 40px;
    padding-top: 1px;
  }
  
  .header {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: red;
    height: 100px;
    
  }
  
  .main-label {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .main-container {
    background-color: aquamarine;
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    display: flex;
    position: relative;
  }
  
  .left-panel {
    width: 300px;
    height: 200px;
    background-color: blue;
  }
  
  .yellow-box {
    width: 80px;
    height: 80px;
    background-color: yellow;
    position: static;
    right: 300px;
    top: 20px;
  }
  
  .right-panel {
    flex: 1;
    
    background-color: #5f9ea0;
    position: relative;
  }
  
  .small-box {
    width: 80px;
    height: 80px;
    background-color: yellowgreen;
    position: absolute;
    bottom: 0.1px;
    right: 0.1px;
  }